/**
 *
 * SalesRevenue
 * Author: Mobythemes
 * Email: info@mobythemes.com
 * Website: mobythemes.com
 * Version: 1.0
 * Date: Tue Dec 17 2019
 * Category: EventsManagement
 * Title: SalesRevenue styles
 *
 */
@import "../variables.scss";

.sales-bg {
  background-image: url("../images/sales-revenue-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  line-height: $base-line-height + 5 !important;
  .total-revenue {
    text-align: center;
    padding: $base-padding 0;
    overflow: hidden;
    line-height: 1.3;
    @media screen and (max-width: $screen-xlg-min) {
      padding: $base-padding - 10 0;
    }
    strong {
      font-size: $base-font + 11;
      color: $black;
      font-weight: $base-font-weight + 200;
      display: block;
      @media screen and (max-width: $screen-xs-min) {
        font-size: $base-font + 2;
      }
      @media screen and (max-width: $screen-xlg-min) {
        font-size: $base-font + 4;
      }
    }
    span {
      color: $secondary-color;
      font-size: $base-font;
    }
  }
  .sales-list {
    overflow: hidden;
    padding: 0 $base-padding - 10;
    li {
      margin-bottom: $base-margin - 10;
      strong {
        font-size: $base-font + 11;
        color: $black;
        font-weight: $base-font-weight + 200;
        display: block;
        @media screen and (max-width: $screen-xs-min) {
          font-size: $base-font + 2;
        }
        @media screen and (max-width: $screen-xlg-min) {
          font-size: $base-font + 4;
        }
      }
      span {
        color: $secondary-color;
        font-size: $base-font;
      }
      .progress {
        margin: $base-margin - 20 0;
        height: 8px;
      }
    }
  }
}
