#purchase_details .list-item{
    margin-bottom: 15px !important;
}

#purchase_details .list-item:last-child{
    margin-bottom: 0px;;
}


.box-field{
    position: relative;
}

.item-error{
    border-color: red !important;
}

.field-error{
    color:red;
    display: block;
    width: 100%;
    position: relative;
    padding-left: 6px;
}

.div{
    display: block;
    position: relative;
}

.w100p{
    width: 100%;
}

.payment-status-success{
    color: green;
}

.payment-status-waiting{
    color: orange;
}

.payment-status-failed{
    color: red;
}

.text-upper{
    text-transform: uppercase;
}

/* ANIMATE */
button[type=submit].remove.is-loading:before{
    display: none !important;
}

button.is-loading[role="on"]{
    background-color: grey !important;
}

.is-loading{
    position: relative;
}

.spin-right.is-loading::after{
    right: 10px;
}
.is-loading[role="on"]:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #f3f3f3;
    /* border-top-color: rgb(243, 243, 243);
    border-right-color: rgb(243, 243, 243); */
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spinAround 1s infinite linear;
    animation: spinAround 1s infinite linear;
    opacity: 1;
    
}
@-webkit-keyframes spinAround{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes spinAround{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}