/**
 *
 * Theme: Header
 * Author: Mobythemes
 * Website: MobythemesCom
 * Version: 1.0
 * Date: Thu Nov 28 2019
 * Category: Multi
 * Title: Header styles
 *
 */
/*************** 
Moby Theme Variables 
****************/
/***********************
  Global variables
***********************/
/***********************
  Media Queries
***********************/
/*************** 
Moby Theme Variables 
****************/
/***********************
  Global variables
***********************/
/***********************
  Media Queries
***********************/
/* @include transition(all,2s,ease-out); */
/* Header */
.moby__main-header {
  border-bottom: 1px solid #e3e8ea;
  min-height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 7px 17px -6px rgba(0, 0, 0, 0.1);
  background: #fff; }
  @media (min-width: 1025px) {
    .moby__main-header {
      width: 81.7%;
      margin-left: 18.3%; } }
  @media (max-width: 767px) {
    .moby__main-header {
      min-height: 65px; } }
  @media (min-width: 1025px) {
    .moby__main-header .p-relative {
      margin-left: 30px; } }
  .moby__main-header .drawer-btn {
    position: absolute;
    top: 22px;
    left: 20px;
    cursor: pointer;
    font-size: 22px;
    display: none; }
    @media (max-width: 1024px) {
      .moby__main-header .drawer-btn {
        display: block; } }
  .moby__main-header .header-drawer-icon {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 74px;
    font-size: 22px;
    cursor: pointer;
    display: none; }
    .moby__main-header .header-drawer-icon:hover {
      color: #202124 !important; }
  .moby__main-header .container-fluid {
    padding: 0; }
  .moby__main-header .moby__main-nav:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  .moby__main-header .moby__main-nav .navbar {
    float: right;
    padding: 0; }
  .moby__main-header .moby__main-nav .moby__nav-list {
    list-style: none;
    margin: 0;
    float: right;
    padding-right: 30px; }
    @media (max-width: 767px) {
      .moby__main-header .moby__main-nav .moby__nav-list {
        padding-right: 15px; } }
    .moby__main-header .moby__main-nav .moby__nav-list li {
      float: left;
      padding: 20px 12px;
      height: 74px;
      line-height: 74px; }
      .moby__main-header .moby__main-nav .moby__nav-list li:last-child {
        padding: 19px 5px 19px 0; }
        @media (max-width: 767px) {
          .moby__main-header .moby__main-nav .moby__nav-list li:last-child {
            padding: 19px 5px 19px 10px; } }
      .moby__main-header .moby__main-nav .moby__nav-list li a {
        display: block;
        text-decoration: none; }
        .moby__main-header .moby__main-nav .moby__nav-list li a:hover {
          color: #202124; }
          .moby__main-header .moby__main-nav .moby__nav-list li a:hover [class^="flaticon-"]:before {
            color: #202124; }
        .moby__main-header .moby__main-nav .moby__nav-list li a i {
          margin: 0;
          color: #96a5ab;
          font-size: 20px;
          line-height: inherit; }
      .moby__main-header .moby__main-nav .moby__nav-list li .language-popover .btn.dropdown-toggle {
        width: 35px;
        height: 35px; }
        @media (max-width: 1024px) {
          .moby__main-header .moby__main-nav .moby__nav-list li .language-popover .btn.dropdown-toggle {
            height: 28px;
            width: 28px; } }
      .moby__main-header .moby__main-nav .moby__nav-list li .moby__user {
        line-height: 20px; }
        .moby__main-header .moby__main-nav .moby__nav-list li .moby__user .btn {
          width: 35px;
          height: 35px;
          font-size: 14px;
          font-weight: 600;
          border: 1px solid #e3e8ea; }
          @media (max-width: 1024px) {
            .moby__main-header .moby__main-nav .moby__nav-list li .moby__user .btn {
              height: 30px;
              width: 30px;
              line-height: 30px;
              font-size: 13px; } }
        .moby__main-header .moby__main-nav .moby__nav-list li .moby__user .dropdown {
          display: inline-block;
          margin-left: 15px; }
          .moby__main-header .moby__main-nav .moby__nav-list li .moby__user .dropdown .btn {
            line-height: 32px;
            text-align: center; }
          @media (max-width: 1024px) {
            .moby__main-header .moby__main-nav .moby__nav-list li .moby__user .dropdown {
              margin-left: 0; } }
      .moby__main-header .moby__main-nav .moby__nav-list li .dropdown .dropdown-toggle {
        padding: 0 !important; }
        .moby__main-header .moby__main-nav .moby__nav-list li .dropdown .dropdown-toggle:after {
          display: none; }
      .moby__main-header .moby__main-nav .moby__nav-list li .moby__user-name {
        color: rgba(32, 33, 36, 0.7);
        font-weight: 600; }
        @media (max-width: 1024px) {
          .moby__main-header .moby__main-nav .moby__nav-list li .moby__user-name {
            display: none; } }
      .moby__main-header .moby__main-nav .moby__nav-list li .btn {
        padding: 0;
        background: transparent;
        border-width: 0px;
        font-weight: 400 !important; }
        @media (max-width: 767px) {
          .moby__main-header .moby__main-nav .moby__nav-list li .btn {
            line-height: 25px; } }
        .moby__main-header .moby__main-nav .moby__nav-list li .btn:hover {
          background: transparent; }
          .moby__main-header .moby__main-nav .moby__nav-list li .btn:hover i {
            color: #202124; }
      .moby__main-header .moby__main-nav .moby__nav-list li:last-child .btn {
        background: #f5f7f7; }
        .moby__main-header .moby__main-nav .moby__nav-list li:last-child .btn:hover {
          background: #e3e8ea;
          color: #202124; }
      @media (max-width: 1024px) {
        .moby__main-header .moby__main-nav .moby__nav-list li {
          padding: 20px 10px;
          height: 64px;
          line-height: 64px; }
          .moby__main-header .moby__main-nav .moby__nav-list li a i {
            font-size: 18px; } }
    @media (max-width: 560px) {
      .moby__main-header .moby__main-nav .moby__nav-list .setting-hide-md {
        display: none; } }
  .moby__main-header .header-search-bar {
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    width: 100%;
    background: #fff;
    height: 74px;
    line-height: 70px;
    z-index: 99999;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .1s;
    padding-right: 30px; }
    .moby__main-header .header-search-bar.visible {
      visibility: visible;
      opacity: 1;
      left: 0; }
    .moby__main-header .header-search-bar .search-input .icon {
      color: #202124;
      padding-left: 10px; }
    .moby__main-header .header-search-bar .search-input input::-webkit-input-placeholder {
      color: rgba(32, 33, 36, 0.7); }
    .moby__main-header .header-search-bar .search-input input:-moz-placeholder {
      color: rgba(32, 33, 36, 0.7); }
    .moby__main-header .header-search-bar .search-input input::-moz-placeholder {
      color: rgba(32, 33, 36, 0.7); }
    .moby__main-header .header-search-bar .search-input input:-ms-input-placeholder {
      color: rgba(32, 33, 36, 0.7); }
    .moby__main-header .header-search-bar .search-input .form-control {
      color: #202124;
      font-size: 15px; }
    .moby__main-header .header-search-bar .close-icon {
      color: #202124;
      font-size: 17px; }

/* /.Header */
/** Notifications **/
.notification-holder .dropdown-menu {
  width: 300px;
  margin: 0;
  padding: 0; }

.notification-holder .nav-pills {
  margin: -30px 20px 0;
  background: #fff;
  border: 1px solid #e3e8ea;
  border-radius: 4px; }
  .notification-holder .nav-pills .nav-item {
    float: none !important;
    padding: 0 !important;
    height: 100% !important;
    line-height: 20px !important; }
  .notification-holder .nav-pills .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding: 15px; }
    .notification-holder .nav-pills .nav-link:hover {
      color: #689df6 !important; }
    .notification-holder .nav-pills .nav-link.active {
      color: #689df6 !important;
      border-bottom: 1px solid #689df6; }
      .notification-holder .nav-pills .nav-link.active .primary.active {
        background: #689df6;
        color: #fff !important; }
  .notification-holder .nav-pills .nav-item {
    padding: 11px 0 0 0; }

.notification-holder .cover-image {
  min-height: 120px; }
  .notification-holder .cover-image h2 {
    font-size: 21px;
    line-height: 120px;
    color: #fff;
    text-align: center; }
  .notification-holder .cover-image i {
    font-size: 16px;
    color: #fff;
    margin-right: 10px; }

.notification-holder .tag {
  margin-left: 7px; }

.notification-holder .notfication-list {
  height: 270px; }
  .notification-holder .notfication-list li {
    padding: 20px !important;
    border-bottom: 1px solid #e3e8ea !important;
    width: 100% !important;
    height: auto !important;
    line-height: 20px !important;
    float: none !important;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all ease-in-out .4s; }
    .notification-holder .notfication-list li:hover {
      background: #f9fafa; }
    .notification-holder .notfication-list li:last-child {
      border-bottom: 0 !important; }
    .notification-holder .notfication-list li .avatar {
      margin-right: 10px;
      min-width: 35px;
      width: 35px;
      height: 35px;
      line-height: 35px; }
    .notification-holder .notfication-list li .notification-list-content {
      width: 100%; }
    .notification-holder .notfication-list li .title {
      margin-bottom: 10px;
      font-size: 16px;
      margin-bottom: 10px; }
      .notification-holder .notfication-list li .title .icon {
        font-size: 16px; }
    .notification-holder .notfication-list li .sub-title {
      font-size: 15px;
      color: #96a5ab; }
      .notification-holder .notfication-list li .sub-title .icon {
        font-size: 16px;
        margin-right: 10px; }
    .notification-holder .notfication-list li .arrow {
      color: #96a5ab;
      font-size: 12px; }

.notification-holder .shopping-cart-list {
  height: 270px; }
  .notification-holder .shopping-cart-list .shoping-cart {
    margin: 20px;
    padding: 10px;
    border: 1px solid #e3e8ea;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; }
    .notification-holder .shopping-cart-list .shoping-cart .shopping-info {
      flex: 1 1 0; }
    .notification-holder .shopping-cart-list .shoping-cart .avatar.avatar-lg {
      height: 60px;
      width: 60px;
      min-width: 60px;
      line-height: 60px;
      margin-right: 10px !important; }
    .notification-holder .shopping-cart-list .shoping-cart .radio-btns.radio-circle .radio-btn label {
      width: 30px;
      height: 30px;
      line-height: 30px; }
    .notification-holder .shopping-cart-list .shoping-cart h4 {
      font-size: 14px;
      margin-bottom: 10px; }
    .notification-holder .shopping-cart-list .shoping-cart .color-list {
      overflow: hidden; }
      .notification-holder .shopping-cart-list .shoping-cart .color-list li {
        float: left;
        margin-left: 10px;
        width: 20px;
        height: 20px; }
        .notification-holder .shopping-cart-list .shoping-cart .color-list li.clr1 {
          background-color: #8d7c9d; }
        .notification-holder .shopping-cart-list .shoping-cart .color-list li.clr2 {
          background-color: #b8c0ff; }
        .notification-holder .shopping-cart-list .shoping-cart .color-list li.clr3 {
          background-color: #ffc7a6; }

.notification-holder .tab-content {
  border: 0; }

@media (max-width: 567px) {
  .notification-holder.notification-popover .dropdown-menu.dropdown-menu-right {
    right: -146px; } }

@media (max-width: 567px) {
  .notification-holder.shopping-cart-popover .dropdown-menu.dropdown-menu-right {
    right: -108px; } }

.notification-holder.language-popover .dropdown-menu {
  width: 16px; }

.notification-holder.setting-popover-h .nav-pills {
  margin: -30px 60px 0; }

@media (max-width: 567px) {
  .notification-holder.setting-popover-h .dropdown-menu.dropdown-menu-right {
    right: -10px; } }

.language-list-h .language-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e8ea;
  padding: 10px 20px; }
  .language-list-h .language-list:last-child {
    border-bottom: 0; }
  .language-list-h .language-list .avatar {
    margin-right: 10px !important; }
  .language-list-h .language-list .title {
    flex: 1 1 0;
    color: #202124;
    line-height: 20px;
    font-size: 16px; }

/** Notifications Ends **/
